html,body{
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal{
    background-color: rgb(255, 235, 228);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
